fastapi
uvicorn[standard]

langchain
langchain-core
langchain-community
langchain-huggingface
langchain-groq
langgraph

chromadb

sentence-transformers
transformers
torch
scipy

python-dotenv
tavily-python
pydantic
typing-extensions
openai

requests
aiohttp
jsonpatch
packaging
dataclasses-json
langchain-text-splitters
langsmith
tenacity
huggingface-hub

click
h11
PyYAML
